.DS_Store
venv/
.venv/
test/
.idea/

config/.env
config/exclusions.txt
config/inclusions.txt

log/*
!log/
data/*
!data/
data/marqoai_data/*
!data/marqoai_data/
data/repos/*
!data/repos/

.env
.pyc
__pycache__/
.cursorignore
