# 文件白名单，符合条件的文件才会被处理

# 指定扩展名
ext:.md
ext:.txt
ext:.json
ext:.java
ext:.py
ext:.php
ext:.vue
ext:.go

# 指定具体的文件名(任意目录下,匹配文件名都会被处理)
file:prompt_templates.yml
file:docker-compose.yml
file:requirements.txt

# 指定目录(任意位置,匹配目录名都会被处理)
dir:src
dir:config